.button {
  width: 100%;
  padding: 14px;
  
  background-color: #4a4a4a;
  color: white;
  
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #606060;
  transform: translateY(-2px);
}